.background {
  position: relative;
  width: 100vw;
  height: 95vh;
}
.background .Menu-Bar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}
.background .Menu-Bar .p-3 {
  width: 100%;
  height: 100px;
  border-radius: 1rem;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .Menu-Bar .p-3 ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background .Menu-Bar .p-3 ul li {
  position: relative;
  z-index: 10;
}
.background .Menu-Bar .p-3 li:hover {
  cursor: pointer;
  background-color: rgba(48, 48, 48, 0.89);
  border-radius: 30%;
}
.background figure {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 95vh;
}
.background .back {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.background .body-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.background .body-section .main-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 50%;
}
.background .body-section figure {
  width: 480px;
  height: 271px;
}
.background .body-section figure img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.Menu-Bar {
  position: relative;
}
.Menu-Bar .p-3 .Blizard-icon {
  width: 100%;
  height: 100px;
}
.Menu-Bar .p-3 .SC-icon {
  width: 80%;
  height: 80%;
}
.Menu-Bar .text-end .btn {
  z-index: 10;
}
.Menu-Bar .text-end .btn:hover {
  cursor: pointer;
}

.main-content .main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .main-body h2 {
  font-size: 3rem;
}
.main-content .main-body p {
  font-size: 2rem;
  color: #CCE1FF;
}
.main-content .main-body .Btn-Buy img {
  width: 177px;
  height: 72px;
}
.main-content .main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .main-footer .end-txt {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5019607843);
}
.main-content .main-footer figure {
  width: 200px;
  height: 90px;
}
.main-content .main-footer .Bt-Logo {
  width: 100%;
  height: 100%;
}

.background-two {
  position: relative;
  width: 100vw;
  height: 50vh;
  background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltf2882a4ba5554365/64837c29f7e25112a1a01541/grid_repeating.png?format=webply&quality=80");
  background-repeat: repeat;
}
.background-two .body-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.background-two .body-section .main-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 70%;
  flex-direction: row;
  gap: 2rem;
}
.background-two .body-section .main-content .main-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.background-two .body-section .main-content .main-body h2 {
  font-size: 3rem;
}
.background-two .body-section .main-content .main-body p {
  font-size: 2rem;
  color: #CCE1FF;
}
.background-two .body-section .main-content .frame {
  position: relative;
  width: 100%;
  z-index: 20;
}
.background-two .body-section .main-content .frame .TopL {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blt2346342e10b1eb5d/646d268de089ea11086af553/frame_topleft.png");
  background-position-x: left;
  top: -4px;
  left: -2px;
  z-index: 2;
}
.background-two .body-section .main-content .frame .TopR {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blt9038319df205ffc5/647667f0cc3c8010adf92b3a/frame_topright.png");
  background-position-x: right;
  top: -4px;
  right: -2px;
  z-index: 2;
}
.background-two .body-section .main-content .frame .BottomL {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blte19b2697f564a86e/646d2679e3fe9310c5cc13b7/frame_botleft.png");
  background-position-y: bottom;
  bottom: -3px;
  left: -2px;
  z-index: 2;
}
.background-two .body-section .main-content .frame .BottomR {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/bltf1d0aa8a39c6b784/646d2665e48bd810b385134c/frame_botright.png");
  background-position-y: bottom;
  background-position-x: right;
  bottom: -3px;
  right: -2px;
  z-index: 2;
}
.background-two .body-section .main-content iframe {
  position: relative;
  aspect-ratio: 16/9;
  overflow: visible;
  border: 2px solid rgba(242, 255, 242, 0.5);
  border-radius: 1rem;
  z-index: 1;
}
.background-two .body-section .main-content iframe:hover iframe {
  overflow: visible;
  z-index: 10;
}

.cross-line {
  display: block;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.cross-line figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cross-line figure img {
  width: 100%;
  margin-top: -15px;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-three {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt0dfe785e015f40c2/645ad58d82ac4226f21b9620/game_features_2600.jpg?format=webply&quality=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
}
.background-three .main-content {
  display: flex;
  flex-direction: column;
  width: 1600px;
}
.background-three .main-content .blz-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 1.5rem auto;
}
.background-three .main-content .blz-header h2 {
  font-size: 3rem;
}
.background-three .main-content .blz-header .fw-normal {
  width: 80%;
  font-size: 1.5rem;
  color: #CCE1FF;
}
.background-three .main-content .gallery .image-wapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.background-three .main-content .gallery .image-wapper .items {
  position: relative;
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 2rem;
}
.background-three .main-content .gallery .image-wapper .items figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 204px;
  overflow-x: hidden;
}
.background-three .main-content .gallery .image-wapper .items figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 2px solid rgba(242, 255, 242, 0.5);
  border-radius: 1rem;
}
.background-three .main-content .gallery .image-wapper .items h2 {
  font-size: 1.5rem;
}
.background-three .main-content .gallery .image-wapper .items p {
  width: 35ch;
  font-size: 1rem;
  color: #CCE1FF;
}
.background-three .main-content .gallery .image-wapper .items .TopL {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blt2346342e10b1eb5d/646d268de089ea11086af553/frame_topleft.png");
  background-position-x: left;
  top: -4px;
  left: 0;
  z-index: 2;
}
.background-three .main-content .gallery .image-wapper .items .TopR {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blt9038319df205ffc5/647667f0cc3c8010adf92b3a/frame_topright.png");
  background-position-x: right;
  top: -4px;
  right: 0;
  z-index: 2;
}
.background-three .main-content .gallery .image-wapper .items .BottomL {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/blte19b2697f564a86e/646d2679e3fe9310c5cc13b7/frame_botleft.png");
  background-position-y: bottom;
  top: 110px;
  left: 0px;
  z-index: 2;
}
.background-three .main-content .gallery .image-wapper .items .BottomR {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/bltf1d0aa8a39c6b784/646d2665e48bd810b385134c/frame_botright.png");
  background-position-y: bottom;
  background-position-x: right;
  top: 110px;
  right: 0;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */